@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #0f0f0f;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0f0f0f;
		--foreground: #ededed;
	}
}

footer .socials svg:hover path {
	fill: #00e3ec;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Inter, sans-serif;
}

.hero_img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
