@import "tailwindcss";

footer .socials svg:hover path {
	fill: #00e3ec;
}

html {
	background-color: #0F0F0F;
}

body {
	background-color: "#0F0F0F";
	font-family: Inter, sans-serif;
}

.hero_img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.button {
	background-image: linear-gradient(to right, #00e3ec 0%, #c2e9fb 51%, #00e3ec 100%);
	background-size: 200% auto;
	background-position: left top;
	border-color: transparent;
	color: #464646;
	text-decoration: none;
	transition: all 0.35s;
	box-sizing: border-box;
	&:hover {
		background-position: right bottom;
		color: #000;
	}
}
